<div class="container">
  <div class="row">
    <div class="card d-flex flex-row">
      <div class="card-header">
        <h1>Simple Angular Calculator</h1>
      </div>
      <div class="card-body">
        <input type="text" class="form-control" [(ngModel)]="number1">
        <input type="text" class="form-control" [(ngModel)]="number2">
        <button type="button" class="btn-primary" (click)="addition()">Sum</button>
        <button type="button" class="btn-primary" (click)="subtract()">Subtraction</button>
        <button type="button" class="btn-primary" (click)="divide()">Divition</button>
        <button type="button" class="btn-primary" (click)="multiply()">Muliplication</button>
      </div>
      <div class="card-header">
        <p>The Sum of {{number1}} and {{number2}} is {{result}}</p>
      </div>
    </div>
  </div>
</div>